@model PatientDataViewModel
@{
    ViewData["Title"] = "Home";
}
<div class="container">
    <div class="row">
        <div class="col-lg-4">
            <div class="row">
                <div class="col-lg-12">
                    <img src="@Model.Patient.Photo" class="img-thumbnail" />
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 p-1">
                    <a href="\patient\@Model.Patient.Id">
                        <button type="button" class="btn btn-outline-primary w-100">
                            Профиль
                        </button>
                    </a>
                </div>
                <div class="col-lg-12 p-1">
                    <button type="button" class="btn btn-outline-primary w-100">Запись к специалисту</button>
                </div>
                <div class="col-lg-12 p-1">
                    <a href="\patientData\@Model.Patient.Id">
                        <button type="button" class="btn btn-primary w-100">
                            Результаты анализов
                        </button>
                    </a>
                </div>
                <div class="col-lg-12 p-1">
                    <a href="\patientConclusions\@Model.Patient.Id">
                        <button type="button" class="btn btn-outline-primary w-100">
                            Заключения специалистов
                        </button>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-8">
            <div class="row">
                <div class="col-lg-12 profile-wrapper">
                    <div class="col-lg-12">
                        <div class="text-center">
                            @Model.Patient.FullName
                        </div>
                    </div>
                    @foreach (var data in Model.PatientDatas)
                    {
                        <div class="profile-wrapper">
                            <div class="col-lg-12">
                                <div class="text-left">
                                    Дата : @data.Date.ToShortDateString()
                                </div>
                            </div>

                            <div class="col-lg-12">
                                <div class="text-left">
                                    @data.PropName : @data.PropValue
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

