@model MedClinic.Models.RegisterModel
<style>
    .centerr {
        margin: 0 auto;
        width: 70%;
    }
</style>
<form asp-action="Register" asp-controller="Account" asp-anti-forgery="true" autocomplete="off">
    <div class="validation" asp-validation-summary="ModelOnly" />
    <div class="centerr container">
        <h2>Регистрация</h2>
        @Html.Partial("../shared/textbox", ("FullName", "Введите Email", @Model?.FullName, true, "text"))
        @Html.Partial("../shared/textbox", ("Email", "Введите ФИО", @Model?.Email, true, "text"))
        @Html.Partial("../shared/datePickerBox", ("BirthDate", "Введите дату рождения", @Model == null ? DateTime.MinValue : @Model.BirthDate))
        @Html.Partial("../shared/textbox", ("Password", "Введите пароль", @Model?.Password, true, "password"))
        @Html.Partial("../shared/textbox", ("ConfirmPassword", "Подтвердите пароль", @Model?.ConfirmPassword, true, "password"))

        <div class="p-1">
            <div class="form-check">
                <input type="checkbox" asp-for="IsDoctor" class="form-check-input" id="IsDoctorId">
                <label class="form-check-label" for="IsDoctorId">Я Доктор</label>
            </div>
        </div>
        <div class="form-group">
            <input type="submit" value="Регистрация" class="btn btn-outline-dark" />
        </div>

    </div>
</form>