@model MedClinic.Models.Doctor.ConclusionViewModel
@{
    ViewData["Title"] = "Conclusion";
}
<style>
    .field-validation-error {
        color: #b94a48;
    }

    .field-validation-valid {
        display: none;
    }

    input.input-validation-error {
        border: 1px solid #b94a48 !important;
    }

    input[type="checkbox"].input-validation-error {
        border: 0 none;
    }

    .validation-summary-errors {
        color: #b94a48;
    }

    .validation-summary-valid {
        display: none;
    }
</style>
<div class="container">
    <div class="row text-center">
        <h3>Заключение</h3>
    </div>
    <div class="form-group row p-1">
        <label class="col-lg-3 col-form-label">Пациент</label>
        <div class="col-lg-9">
            <a href="/patient/@Model.Patient.Id">@Model.Patient.FullName</a>
        </div>
    </div>
    <form method="post">
        @Html.HiddenFor(x=>x.SchedId)
        @Html.HiddenFor(x => x.ConclusionId)
        @Html.HiddenFor(x => x.Patient.Id)
        @Html.HiddenFor(x => x.Patient.FullName)
        <div class="form-group row p-1">
            <label asp-for="Date" class="col-lg-3 col-form-label" style="text-wrap:normal">
                Введите дату заключения
            </label>
            <div class="col-lg-9">
                <input type="text" asp-for="Date" width="276"
                       value="@(Model?.Date==DateTime.MinValue?string.Empty:Model?.Date.ToString("dd.MM.yyyy"))">
                <span asp-validation-for="Date" />
            </div>
            <script>
                $('#Date').datepicker({
                    uiLibrary: 'bootstrap4',
                    format: 'dd.mm.yyyy',
                    showRightIcon: false
                });
            </script>
        </div>
        <div class="form-group row p-1">
            <label asp-for="Result" class="col-lg-3 col-form-label" style="text-wrap:normal">Введите заключение</label>
            <div class="col-lg-9">
                <textarea type="text" asp-for="Result" class="form-control" style="height:250px">
    
                </textarea>
                <span asp-validation-for="Result" />
            </div>
        </div>
        <div class="form-group row p-1">
            <button class="btn btn-success">Сохранить</button>
        </div>
    </form>
</div>