@model MedClinic.Model.DoctorModel
@{
    ViewData["Title"] = "Home";
}
<div class="container">
    <div class="row">
        <div class="col-lg-4">
            <div class="row">
                <div class="col-lg-12">
                    <img src="@Model.Photo" class="img-thumbnail" />
                </div>
            </div>
            @*<div class="row">
                <div class="col-lg-12 p-1">
                    <button type="button" class="btn btn-outline-primary w-100">Запись к специалисту</button>
                </div>
                <div class="col-lg-12 p-1">
                    <button type="button" class="btn btn-outline-primary w-100">Результаты анализов</button>
                </div>
                <div class="col-lg-12 p-1">
                    <button type="button" class="btn btn-outline-primary w-100">Заключения специалистов</button>
                </div>
            </div>*@
        </div>
        <div class="col-lg-8">
            <div class="row">
                <div class="col-lg-12 profile-wrapper">
                    <div class="col-lg-12">
                        <div class="text-center">
                            @Model.FullName
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="text-left">
                            Дата Рождения : @Model.BirthDate.ToShortDateString()
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="text-left">
                            Стаж : @(@Model.WorkExperience=="0"?"Первый год практики":$"{@Model.WorkExperience} полных лет")
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="text-left">
                            Специализация : @Model.Specialization
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="text-left">
                            Образование : @Model.Education
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="text-left">
                            Email : @Model.Email
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>