@model MedClinic.Model.DoctorModel
@{
    ViewData["Title"] = "Home";
    var isOwner = User.Identity.Name == Model.Email;
}
<div class="container">
    <div class="row">
        <div class="col-lg-4">
            <div class="row">
                <div class="col-lg-12">
                    @if (string.IsNullOrEmpty(Model.Photo))
                    {
                        @Html.Partial("../Shared/NoPhotoView");
                    }
                    else
                    {
                        <img src="@Model.Photo" class="img-thumbnail" />
                    }
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 p-1">
                    <a href="\doctor\">
                        <button type="button" class="btn btn-primary w-100">
                            Профиль
                        </button>
                    </a>
                </div>
                <div class="col-lg-12 p-1">
                    <a href="\doctor\Edit">
                        <button type="button" class="btn btn-outline-primary w-100">
                            Редактировать
                        </button>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-8">
            <div class="row">
                <div class="col-lg-12 profile-wrapper">
                    <div class="col-lg-12">
                        <div class="text-center">
                            @Model.FullName
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="text-left">
                            Дата Рождения : @Model.BirthDate.ToShortDateString()
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="text-left">
                            Стаж : @(@Model.WorkExperience == "0" ? "Первый год практики" : $"{@Model.WorkExperience} полных лет")
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="text-left">
                            Специализация : @Model.Specialization
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="text-left">
                            Образование : @Model.Education
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="text-left">
                            Email : @Model.Email
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>